/* Estilos específicos para la sección institucional */

.institucional {
    /* Estilos para el contenedor de la sección institucional */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fuente-ceniza-oscuro);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.institucional__titulo {
    /* Estilos para el título de la sección institucional */
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.institucional__descripcion {
    /* Estilos para la descripción de la sección institucional */
    margin-bottom: 2rem;
}

.institucional__direccion {
    /* Estilos para la dirección de la sección institucional */
    font-size: 1.5rem;
    line-height: normal;
    margin-bottom: 2rem;
}

.institucional__contacto {
    /* Estilos para el contacto de la sección institucional */
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 2rem;
}

.institucional__contacto-telefono {
    /* Estilos para el teléfono de contacto en la sección institucional */
    line-height: normal;
}

.institucional__contacto-email {
    /* Estilos para el correo electrónico de contacto en la sección institucional */
    color: var(--fuente-ceniza-oscuro);
    text-decoration: underline;
    display: block;
}

.institucional__video {
    /* Estilos para el video de la sección institucional */
    width: 100vw;
}

@media screen and (min-width: 768px) {
    /* Estilos para pantallas medianas en la sección institucional */
    .institucional__contacto-email {
        display: inline-block;
    }
    .institucional__video {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    /* Estilos para pantallas grandes en la sección institucional */
    .institucional__contenido {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    .institucional__contacto-email {
        display: block;
    }
    .institucional__video {
        align-self: flex-end;
        width: 375px;
    }
}
